.main-menu {
	display: flex;
	display: -webkit-flex;
}
.menu-link {
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 10px;
}
.menu-link:hover {
	background-color: #51caf3;
	color: #fff;
}
.main-menu {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}
.center {
	justify-content: center;
	-webkit-justify-content: center;
}
